.container {
    padding-top: 7%;
}

app-posts-create {
    padding-top: 7%;
}

div.card {
    
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.card-img-top {
    margin-left: 380px;;
}

.card-body {
    margin-left: 380px;;

}