<div class="create-posts">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <div class="file-upload">
    <div class="file-select">
      <div class="file-select-button" id="fileName">Choose File</div>
      <div class="file-select-name" id="noFile">No file chosen...</div>
      <input type="file" name="chooseFile" id="chooseFile">
    </div>
  </div>

  <button mat-button id="btnpost">Post</button>
</div>

