.container{
    padding: 0 10% 0 10%;
    width: 100%;
}

// .logo{
//     margin-left: 15%;
// }
.buttons {
    // position: relative;
    margin-left: 70%;
    // float: left;
    button{
        margin-left: 5%;
    }
}